html {
  scroll-behavior: smooth;
}

body {
  font-family: $fontTextPrimary;
  font-weight: 400;
  font-size: 13px;
  color: $colorTextPrimary;
}

.container {
  min-width: 320px;
  max-width: 1340px;
  margin: 0 auto;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
}

.button {
  border-radius: 5px;
  background: $colorTextTertiary;
  color: $colorTextAdditional;
  text-align: center;
  cursor: pointer;
  transition: transform 250ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}

.logo {
  color: $colorTextPrimary;
  color: #000;
  &--active {
    color: $colorTextSecondary;
  }
}
