// colors
$colorTextPrimary: #000000;
$colorTextSecondary: #8f95a5;
$colorTextTertiary: #2a3246;
$colorTextAccent: #263238;
$colorTextAdditional: #ffffff;
$colorFillFair:#eee;
$colorTextThirt:#2a3246;
// fonts
$fontTextPrimary: 'Poppins', sans-serif;
