// colors
$colorTextPrimary: #000;
$colorTextSecondary: #8f95a5;
$colorTextTertiary: #263238;
$colorTextAccent: #263238;
$colorTextAdditional: #ffffff;
$colorBackground: #f5f5f5;
$colorFillPrimary:#eee;
$colorTextFourth: #546269;
$fontTextPrimary: 'Poppins', sans-serif;
