<section class="about-us">
  <div class="container about-us__container">
    <h2 class="about-us__title">About Us</h2>
    <div class="about-us__photo">
      <img
        class="about-us__img"
        src="./images/about_us/success.svg"
        alt="success"
      />
    </div>
    <p class="about-us__text">
      The model offers a framework for discussing problems related to the user's
      experience, as well as possible ways and means of solving them.
      Application development begins at the top level (strategy), where the
      future software product is described quite abstractly from the point of
      view of the expectations of both users and the customer.
    </p>
    <ul class="about-us__footer statistics">
      <li class="statistics__item">
        <span class="statistics__count"> 800 </span>
        <p class="statistics__text">Pupils</p>
      </li>
      <li class="statistics__item">
        <span class="statistics__count"> 18 </span>
        <p class="statistics__text">Teachers</p>
      </li>
      <li class="statistics__item">
        <span class="statistics__count"> 6 </span>
        <p class="statistics__text">Foreign languages</p>
      </li>
    </ul>
  </div>
</section>
