<section
  class="contact-us"
  data-aos="fade-zoom-in"
  data-aos-easing="ease-in-back"
  data-aos-offset="0"
>
  <div class="contact-us__container container">
    <div class="contact-us__body">
      <h2 class="contact-us__title">Contact Us</h2>
      <div class="contact-us__photo">
        <h2 class="contact-us__title">Contact Us</h2>
        <img
          class="contact-us__img"
          src="./images/contact_us/contact.svg"
          alt="contact"
        />
      </div>
      <p class="contact-us__text">
        Discover your current English level by taking our free online English
        test. Sign up to our newsletter for learning tips and free resource
      </p>
      <form action="#" class="contact-us__form form">
        <input
          type="email"
          id="email"
          name="email"
          class="form__input"
          required
          placeholder="Enter Your E-mail"
        />
        <button class="form__button button">Subscribe</button>
      </form>
    </div>
  </div>
</section>
