<section class="contact-us">
  <div class="contact-us__container container">
    <h2 class="contact-us__title">Contact Us</h2>
    <div class="contact-us__photo">
      <span class="contact-us__logo">Britlex</span>
      <p class="contact-us__text">
        Discover your current English level by taking our free online English
        test. Sign up to our newsletter for learning tips and free resource
      </p>
      <label for="email">Enter Your E-mail</label>
      <input type="email" id="email" name="email" required />
      <button class="contact-us__button button">Subscribe</button>
    </div>
  </div>
</section>
