<footer class="footer">
  <div class="footer__container container">
    <a href="" class="footer__logo logo"
      >Brit<span class="logo--active">lex</span></a
    >
    <ul class="footer__list list">
      <li class="list__item">
        <a href="" class="footer__link">Terms and Conditions</a>
      </li>
      <li class="list__item">
        <a href="" class="footer__link">Privacy Policy</a>
      </li>
      <li class="list__item">
        <a href="" class="footer__link">Cookie Policy</a>
      </li>
    </ul>
  </div>
</footer>
