<header class="header">
  <div class="header__container container">
    <nav class="nav header__nav" data-menu>
      <div class="nav-logo__container">
        <h1 class="logo">Brit<span class="logo--active">lex</span></h1>
      </div>
      <ul class="nav__navigation navigation">
        <li class="nav__item">
          <a href="" class="nav__link">Home</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Skills</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">About Us</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Pricing</a>
        </li>
        <li class="nav__item">
          <a href="" class="nav__link">Contacts</a>
        </li>
      </ul>

      <button class="button nav__button">Let’s Talk</button>

      <button class="nav__menu btn-menu" data-open_btn>
        <span class="btn-menu__icon"></span>
      </button>
    </nav>
  </div>
</header>
