<header class="header" data-menu>
  <div class="header__container container">
    <div class="nav-logo__container">
      <h1 class="header__logo logo">
        Brit<span class="logo--active">lex</span>
      </h1>
    </div>
    <div class="menu header__menu">
      <nav class="nav header__nav">
        <ul class="nav__navigation navigation">
          <li class="nav__item">
            <a href="#" class="nav__link">Home</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Skills</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">About Us</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Pricing</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Contacts</a>
          </li>
        </ul>
      </nav>
      <button class="button nav__button">Let’s Talk</button>
    </div>

    <button class="btn-menu" data-open_btn>
      <span class="btn-menu__icon"></span>
    </button>
  </div>
</header>
