<div class="scroll-to-top to-top">
  <a href="#header" class="to-top__button button" id="to-top">
    <svg class="to-top__svg">
      <use href="/src/images/icons.svg#icon-arrow-up"></use>
    </svg>
  </a>
</div>
<section class="hero">
  <div class="hero__container container">
    <div class="hero__photo" data-aos="fade-right">
      <img
        src="/src/images/hero/hero.svg"
        alt="Learn every language"
        class="hero__img"
      />
    </div>
    <div class="hero__info" data-aos="fade-left">
      <h2 class="info__title">
        <span class="info-title__part">Learn </span>Any Foreign
        <span>Language</span><span></span>
      </h2>
      <p class="info__text">
        With our teachers who write a program for each student, you will be able
        to make your first sketch after the first lesson.
      </p>
      <button class="info__button button">Get started</button>
    </div>
  </div>
</section>
