<section class="pricing">
  <div class="pricing__container container">
    <h2 class="pricing__title">Pricing</h2>
    <div class="pricing__cases">
      <article class="case">
        <div class="case__photo">
          <img
            class="case__img"
            src="./images/pricing/english.svg"
            alt="english"
          />
        </div>
        <h3 class="case__title">Self-study online course</h3>
        <p class="case__text">
          Start learning English online in live classes with qualified EC
          teachers and students from all over the world.
        </p>
        <button class="case__button btn">
          <span class="btn__price"> £5.99</span>
          <p class="btn__text">per month</p>
        </button>
      </article>
      <article class="case">
        <div class="case__photo">
          <img
            class="case__img"
            src="./images/pricing/lesson.svg"
            alt="english"
          />
        </div>
        <h3 class="case__title">Live online classes</h3>
        <p class="case__text">
          Interactive group classes with expert teachers. Free 7-day trial
        </p>
        <button class="case__button btn">
          <span class="btn__price"> £12.99</span>
          <p class="btn__text">per month</p>
        </button>
      </article>
      <article class="case">
        <div class="case__photo">
          <img
            class="case__img"
            src="./images/pricing/webinar.svg"
            alt="english"
          />
        </div>
        <h3 class="case__title">Personal Tuition</h3>
        <p class="case__text">
          Online one-to-one English tutoring – enjoy our first session for only
          $1
        </p>
        <button class="case__button btn">
          <span class="btn__price"> £20.99</span>
          <p class="btn__text">per month</p>
        </button>
      </article>
    </div>
  </div>
</section>
