.about-us{
    &__title{
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 54px;
    }
    &__text{
        color: $colorTextSecondary;
        margin-bottom: 40px;
        text-align: center;
    }
    &__container{
        margin: 0 auto;
        padding: 0 18px;
    }
    &__photo{
        margin-bottom: 23px;
    }
}
.statistics{
    display: flex;
    flex-direction: column;
    gap: 59px;
    align-items: center;
    &__item{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    &__count{
        font-weight: 600;
        font-size: 24px;
        color: $colorTextThirt;
    }
    &__text{
        font-size: 15px;
        color: $colorTextSecondary;
    }
}