.contact-us {
  &__title {
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 70px;
    text-align: center;
  }
  &__text {
    font-size: 14px;
    text-align: center;
    color: $colorTextSecondary;
    margin-bottom: 31px;
  }
  &__photo {
    margin-bottom: 38px;
  }
  &__container {
    margin: 0 auto;
    padding: 0 14px 57px;
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
  &__input {
    padding: 16px 26px;
    font-size: 12px;
    color: $colorTextSecondary;
    border: 1px solid #8f95a5;
    border-radius: 5px;
    width: 100%;
  }
  &__button {
    width: 100%;
    font-weight: 500;
    font-size: 14px;
    background-color: $colorTextAccent;
    padding: 20px 110px;
  }
}
@media (min-width: 575px) {
  .contact-us {
    &__title {
      font-size: 30px;
      margin-bottom: 83px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 60px;
    }
    &__photo {
      margin-bottom: 34px;
    }
    &__container {
      padding: 0 30px 144px;
    }
  }
  .form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0;
    border: 1px solid $colorTextSecondary;
    border-radius: 10px;
    &__input {
      padding: 20px 25px;
      font-size: 13px;
      border: 0;
    }
    &__button {
      max-width: 193px;
      font-size: 16px;
      padding: 20px 56px;
      border-radius: 10px;
    }
  }
}
@media (min-width: 767px) {
  .contact-us {
    &__title {
      margin-bottom: 21px;
    }
    &__text {
      font-size: 14px;
      margin-bottom: 26px;
      text-align: left;
    }
    &__photo {
      margin-bottom: 0;
      position: absolute;
      right: 500px;
      width: 233px;
    }
    &__container {
      padding: 0 30px 142px;
      display: flex;
      flex-direction: row-reverse;
      align-items: flex-end;
    }
    &__body {
      position: relative;
      max-width: 434px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .form {
    gap: 6px;
    border: 0;
    width: 100%;
    &__input {
      padding: 16px 24px;
      font-size: 12px;
      border: 1px solid $colorTextSecondary;
      border-radius: 5px;
    }
    &__button {
      max-width: 145px;
      font-size: 13px;
      padding: 15px 40px;
      border-radius: 5px;
    }
  }
}
@media (min-width: 992px) {
  .contact-us {
    &__title {
      font-size: 36px;
      margin-bottom: 27px;
    }
    &__text {
      font-size: 16px;
      margin-bottom: 34px;
    }
    &__photo {
      right: 600px;
      width: 312px;
    }
    &__container {
      padding: 0 13px 194px;
    }
    &__body {
      max-width: 535px;
    }
  }
  .form {
    gap: 14px;
    &__input {
      padding: 20px 38px;
      font-size: 14px;
      border-radius: 10px;
    }
    &__button {
      max-width: 193px;
      font-size: 16px;
      padding: 20px 56px;
      border-radius: 10px;
    }
  }
}
@media (min-width: 1600px) {
  .contact-us {
    &__title {
      font-size: 48px;
      margin-bottom: 60px;
    }
    &__text {
      font-size: 20px;
      margin-bottom: 52px;
    }
    &__photo {
      right: 1000px;
      width: 477px;
    }
    &__container {
      padding: 0;
      padding-bottom: 222px;
    }
    &__body {
      max-width: 776px;
    }
  }
  .form {
    gap: 12px;
    &__input {
      padding: 30px 33px;
      font-size: 16px;
      border-radius: 10px;
    }
    &__button {
      max-width: 264px;
      font-size: 20px;
      padding: 25px 82px;
    }
  }
}
.contact-us {
  &__title {
    padding-top: 72px;
    padding-bottom: 38px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
  }

  &__img {
    margin-left: 18%;
    width: 253px;
    height: 228px;
  }

  &__text {
    padding-top: 38px;
    padding-bottom: 17px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #8f95a5;
  }
}

.form {
  &__input {
    padding-left: 26px;
    margin: 0px 0px 17px 50px;
    border: 1px solid #8f95a5;
    border-radius: 5px;
    width: 291px;
    height: 50px;
  }
}

.contact-us__button {
  margin: 0px 15px 57px 50px;
  border-radius: 5px;
  width: 290px;
  height: 60px;
  background: #263238;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

@media (min-width: 575px) {
  .contact-us {
    &__title {
      padding-bottom: 86px;
      text-align: center;
      font-weight: 600;
      font-size: 30px;
    }

    &__img {
      margin-left: 90px;
      padding-bottom: 34px;
      width: 398px;
      margin: 0px 102px 0px 115px;
      padding-bottom: 34px;
      width: 358px;
      height: 322px;
    }

    &__text {
      padding-bottom: 60px;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
    }
  }

  .contact-us__form {
    display: flex;
    gap: 0;
  }
  .form__input {
    border: 1px solid #8f95a5;
    margin-left: 25px;
    .form__input {
      margin: 0px 31px 144px 33px;
      border: 1px solid #8f95a5;
      border-radius: 10px;
      width: 511px;
      height: 60px;
    }
    .contact-us__button {
      margin-left: -193px;
      border-radius: 10px;
      width: 193px;
      height: 60px;
      background: #263238;
    }
  }
}
