.header {
  overflow-x: hidden;

  &__logo {
    font-size: 24px;
    z-index: 19000;
    transition: color 250ms ease-in-out;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;

    padding-bottom: 29px;
  }
}

.logo:hover {
  & {
    color: $colorTextSecondary;
  }
  .logo--active {
    color: #000;
  }
}

.nav__button {
  border: 2px solid $colorTextAccent;
  background-color: transparent;
  color: $colorTextAccent;
  font-size: 20px;
  padding: 16px 65px;
  transition: transform 250ms ease-in-out;
  &:hover {
    transform: scale(1.1);
  }
}
.nav-logo__container {
  z-index: 999;
}

.to-top__button {
  padding: 20px;
  z-index: 999;
  position: fixed;
  bottom: 30px;
  right: 30px;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 50%;
  animation: scrollAnimation 3s cubic-bezier(0.4, 0, 0.2, 1) 0s infinite;
  &:hover {
    animation-play-state: paused;
  }
}

.to-top__button.scrolled {
  opacity: 1;
}

.to-top__svg {
  width: 30px;
  height: 30px;
  fill: $colorTextAdditional;
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-50px);
  }

  40% {
    transform: translateY(-25px);
  }

  60% {
    transform: translateY(-50px);
  }
}

.nav__link {
  &::after {
    content: '';
    height: 2px;
    display: block;
    background-color: black;
    width: 0;
    transition: width 250ms ease-in-out;
  }
}

.nav__item {
  transition: transform 250ms ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.nav__link:hover::after {
  width: 100%;
}

@media (min-width: 575px) {
  .header {
    &__logo {
      font-size: 30px;
    }
    &__container {
      padding: 40px 32px;
      padding-bottom: 11px;
    }
  }
}

@media (min-width: 767px) {
  .header {
    &__container {
      padding: 40px;
      padding-bottom: 68px;
    }
  }
}

@media (min-width: 992px) {
  .header__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
    &::before {
      display: none;
    }
  }

  .menu__wrapper {
    display: flex;
    justify-content: space-between;
  }

  .nav__navigation {
    display: flex;
    gap: 40px;
  }
}

@media (min-width: 1600px) {
  .header {
    &__logo {
      font-size: 36px;
      font-weight: 400;
    }
    &__container {
      padding-inline: 0;
      padding-top: 57px;
      padding-bottom: 115px;
    }
    &__menu {
      gap: 245px;
    }
  }
}
