.header {
  padding: 40px 32px;
  &__logo {
    font-size: 36px;
    z-index: 19000;
  }

  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

.nav__button {
  border: 2px solid $colorTextAccent;
  background-color: transparent;
  color: $colorTextAccent;
  font-size: 18px;
  padding: 16px 65px;
}
.nav-logo__container {
  z-index: 999;
}
