.hero {
  overflow-x: hidden;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
  }

  &__photo {
    margin-bottom: 15px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 16px;
  }
}

.info {
  &__title {
    font-weight: 600;
    font-size: 24px;
    color: $colorTextPrimary;
    text-align: center;
    z-index: -1;
    margin-bottom: 20px;
  }

  &__text {
    font-size: 14px;
    text-align: center;
    color: $colorTextSecondary;
    margin-bottom: 35px;
    text-align: center;
    line-height: calc(21 / 14);
  }

  &__button {
    font-weight: 500;
    font-size: 16px;
    padding: 18px 99px;
    display: inline-block;
    line-height: calc(24 / 16);
  }
}

@media (min-width: 575px) {
  .hero {
    &__container {
      padding-bottom: 120px;
      padding-inline: 40px;
    }
  }

  .info {
    &__title {
      font-size: 36px;
      margin-bottom: 25px;
    }
    &__text {
      font-size: 16px;
    }
    &__button {
      font-size: 18px;
    }
  }
}

@media (min-width: 767px) {
  .hero {
    &__container {
      flex-direction: row-reverse;
      justify-content: center;
      padding-bottom: 87px;
      padding-inline: 28px;
    }
    &__info {
      max-width: 430px;
      align-items: flex-start;
    }

    &__photo {
      min-width: 350px;
    }
  }

  .info {
    &__title {
      text-align: left;
      font-size: 36px;
      position: relative;
      display: flex;
      flex-direction: column;
      line-height: calc(45 / 36);
      &::after {
        content: '';
        background-image: url(/src/images/hero/light.svg);
        display: flex;
        width: 50px;
        height: 50px;
        background-position: center;
        position: absolute;
        right: -55px;
        top: 60px;
        fill: blue;
      }
    }
    &__text {
      margin-bottom: 30px;
      text-align: left;
    }
  }

  .info__title:hover::after {
    fill: $colorTextSecondary;
  }
}

@media (min-width: 992px) {
  .hero__container {
    justify-content: space-between;
    padding-inline: 29px;
    padding-bottom: 102px;
  }
  .info {
    &__title {
      line-height: calc(64 / 48);
      font-size: 48px;
      &::after {
        width: 60px;
        height: 60px;
        right: -66px;
        top: 85px;
      }
    }
    &__text {
      font-size: 20px;
    }

    &__button {
      padding: 22px 79px;
      font-size: 24px;
    }
  }
}

@media (min-width: 1600px) {
  .hero__container {
    justify-content: space-between;
    padding-bottom: 177px;
  }
  .info {
    &__title {
      font-size: 64px;
      margin-bottom: 40px;
      line-height: calc(80 / 64);
      &::after {
        width: 85px;
        height: 85px;
        right: -90px;
        top: 95px;
      }
    }
    &__text {
      font-size: 24px;
      margin-bottom: 60px;
    }

    &__button {
      padding: 32px 116px;
      font-size: 36px;
    }
  }
  .hero__img {
    min-width: 660px;
  }

  .hero__info {
    padding-inline: 0;
    max-width: 530px;
  }
}
