.nav__btn {
  display: none;
}
.no-scroll {
  overflow: hidden;
}

.header__menu {
  padding-inline: 15px;
}

.nav__link {
  font-weight: 500;
  font-size: 22px;
  color: $colorTextAccent;
}

.header__menu::before {
  content: '';
  height: 2px;
  width: 95%;
  background-color: $colorTextSecondary;
  position: absolute;
  left: 50%;
  top: 90px;
  transform: translateX(-50%);
}

@media (max-width: 993px) {
  .btn-menu {
    display: block;
    width: 30px;
    height: 30px;
    position: relative;
  }

  .nav__navigation {
    gap: 20px;
    display: flex;
    flex-direction: column;
  }

  .btn-menu__icon,
  .btn-menu__icon::before,
  .btn-menu__icon::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: $colorTextPrimary;
    transition: transform 0.3s ease-in 0.3s;
    transition: top 0.1s ease-in;
  }

  .btn-menu__icon {
    top: calc(50% - 1px);
  }

  .btn-menu__icon::after {
    top: 8px;
    width: 60%;
  }

  .btn-menu__icon::before {
    top: -8px;
  }
  // .nav__list {
  //   display: none;
  // }

  .menu-open .btn-menu__icon::before,
  .menu-open .btn-menu__icon::after {
    top: 0;
    width: 100%;
  }

  .menu-open .btn-menu__icon {
    transform: rotate(-45deg);
  }

  .menu-open .btn-menu__icon::after {
    transform: rotate(90deg);
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    height: 100%;
    background-color: $colorTextAdditional;
    flex-direction: column;
    padding-top: 130px;
    align-items: flex-start;
    row-gap: 70px;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in;
  }

  .menu-open .header__menu {
    transform: translateX(0);
  }
}

@media (min-width: 575px) {
  .header__menu {
    padding-inline: 35px;
    row-gap: 80px;
    &::before {
      width: 91%;
    }
  }

  .nav__link {
    font-size: 24px;
  }
}

@media (min-width: 767px) {
  .header__menu {
    width: 50%;
    padding-inline: 40px;
    row-gap: 60px;
    &::before {
      width: 85%;
    }
  }

  .menu-open .header__menu::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    left: 100%;
    background-color: #52656e95;
    z-index: -999;
  }

  .menu-open.header {
    width: 50%;
  }
}

@media (min-width: 992px) {
  .header__menu {
    width: 100%;
    padding: 0;
  }

  .nav__link {
    font-size: 16px;
    font-weight: 500;
  }

  .nav__btn {
    padding: 17px 57px;
    font-size: 24px;
  }
}

@media (min-width: 1600px) {
  .nav__link {
    font-size: 20px;
  }
}
