.services {
  overflow-x: hidden;
  padding-bottom: 72px;
  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
    gap: 49px;
  }
  &__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 3.3;
  }
  &__cases {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 65px;
  }
}
.case {
  display: flex;
  flex-direction: column;
  align-items: center;
  // padding: 0 20px;
  // gap: 25px;
  // max-width: 280px;
  &__title {
    font-weight: 600;
    font-size: 18px;
    color: $colorTextAccent;
    text-align: center;
    margin-bottom: 17px;
  }
  &__text {
    text-align: center;
    color: $colorTextSecondary;
    margin-bottom: 33px;
  }
  &__fare {
    font-size: 18px;
    color: $colorTextAccent;
    padding: 5px 15px;
    background-color: $colorFillPrimary;
    border-radius: 5px;
    display: flex;
    gap: 12px;
    // align-items: center;
    line-height: 1.5;
    &::after {
      content: 'per month';
      display: flex;
      // display: block;
      align-items: center;
      font-size: 14px;
      color: $colorTextFourth;
      transition: color 250ms ease-in-out;
    }
    &:hover::after {
      color: goldenrod;
    }
  }
  &__photo {
    margin-bottom: 28px;
  }
}
@media (min-width: 575px) {
  .services {
    // margin: 0 auto;
    // padding: 0 20px;
    padding-bottom: 163px;
    &__container {
      gap: 54px;
      padding: 0 32px;
    }
    &__title {
      font-size: 30px;
      line-height: 2.6;
    }
    &__cases {
      gap: 71px;
    }
  }
  .case {
    // max-width: 227px;
    &__title {
      font-size: 24px;
      margin-bottom: 23px;
    }
    &__text {
      margin-bottom: 31px;
      font-size: 14px;
    }
    &__fare {
      font-size: 22px;
      padding: 5px 15px;
      gap: 16px;
      &::after {
        font-size: 16px;
      }
    }
    &--english-img {
      height: 291px;
    }
    &--lesson-img {
      height: 241px;
    }
    &--webinar-img {
      height: 253px;
    }
  }
}
@media (min-width: 767px) {
  .services {
    // margin: 0 auto;
    padding-bottom: 94px;
    &__container {
      gap: 26px;
      padding: 0 38px;
    }
    &__cases {
      justify-content: space-between;
      flex-direction: row;
      align-items: stretch;
    }
  }
  .case {
    flex-basis: calc((100% - 60px) / 3);
    align-items: flex-start;
    &--english {
      margin-bottom: 30px;
    }
    &__title {
      font-size: 20px;
      margin-bottom: 15px;
      text-align: left;
    }
    &__text {
      margin-bottom: 23px;
      // max-height: 84px;
      text-align: left;
      flex-grow: 1;
    }
    &__fare {
      font-size: 22px;
      padding: 5px 27px 7px 12px;
      gap: 10px;
      align-items: center;
    }
    &--english {
      padding: 5px 0 23px 0;
    }
    &--english-img {
      height: 197px;
    }
    &--lesson {
      padding: 7px 0 50px 0;
    }
    &--lesson-img {
      height: 168px;
    }
    &--webinar {
      padding-bottom: 15px;
    }
    &--webinar-img {
      height: 210px;
    }
    &__photo {
      margin-bottom: 0;
    }
  }
}
@media (min-width: 992px) {
  .services {
    // margin: 0 auto;
    padding-bottom: 140px;
    &__title {
      font-size: 36px;
      line-height: 2.2;
    }
    &__container {
      gap: 15px;
      padding: 0 30px;
    }
  }
  .case {
    max-width: 261px;
    // align-items: normal;
    // &--english{
    //     margin-bottom: 25px;
    // }
    &__title {
      font-size: 22px;
      margin-bottom: 15px;
    }
    &__text {
      margin-bottom: 31px;
      font-size: 16px;
    }
    &__fare {
      font-size: 24px;
      padding: 5px 12px;
      // max-width: 205px;
    }
    &--english {
      padding: 12px 0 23px 0;
    }
    &--english-img {
      height: 222px;
    }
    &--lesson {
      padding: 37px 0 22px 0;
    }
    &--lesson-img {
      height: 195px;
    }
    &--webinar {
      padding-bottom: 12px;
    }
    &--webinar-img {
      height: 242px;
    }
  }
}
@media (min-width: 1600px) {
  .services {
    padding-bottom: 261px;
    &__title {
      font-size: 48px;
      line-height: 1.6;
    }
    &__container {
      gap: 57px;
      padding: 0;
    }
    &__cases {
      padding: 0;
    }
  }
  .case {
    max-width: 427px;
    &__title {
      font-size: 30px;
      margin-bottom: 19px;
    }
    &__text {
      margin-bottom: 29px;
      font-size: 20px;
    }
    &__fare {
      font-size: 30px;
      padding: 0px 27px 0px 12px;
      &::after {
        font-size: 18px;
      }
    }
    &__photo {
      max-width: 340px;
    }
    &--english {
      padding: 0 0 29px 0;
    }
    &--english-img {
      height: 311px;
    }
    &--lesson {
      padding: 26px 0 42px 0;
    }
    &--lesson-img {
      height: 283px;
    }
    &--webinar {
      padding-bottom: 11px;
    }
    &--webinar-img {
      height: 340px;
    }
  }
}
