.skill {
  background-color: $colorBackground;
  border-radius: 5px;
  padding: 20px 13px 33px;
  &__photo {
    margin-bottom: 20px;
  }
  &__title {
    font-weight: 600;
    font-size: 18px;
    color: $colorTextAccent;
    margin-bottom: 25px;
  }

  &__text {
    color: $colorTextSecondary;
    margin-bottom: 40px;
    &--header {
      margin-bottom: 30px;
    }
  }

  &__button {
    padding: 14px 24px;
  }
}

.skills {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-inline: 15px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
    color: $colorTextPrimary;
    margin-bottom: 32px;
    text-align: center;
  }
}

@media (min-width: 575px) {
  .skills {
    &__container {
      padding-inline: 33px;
    }
    &__cards {
      gap: 30px;
      flex-wrap: wrap;
      flex-direction: row;
      row-gap: 35px;
    }
    &__title {
      font-size: 30px;
    }
    &__card {
      flex-basis: calc((100% - 30px) / 2);
      min-height: 535px;
    }
  }

  .skill {
    display: flex;
    flex-direction: column;

    &__text {
      font-size: 12px;
      flex-grow: 1;
    }

    &__button {
      align-self: flex-start;
    }
  }
}

@media (min-width: 767px) {
  .skills__cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .skills__card {
    min-height: 0;
  }

  .skill__text {
    flex-grow: 0;
  }

  .skill {
    &--speaking {
      grid-row: 1/4;
    }

    &--writing {
      grid-row: 1/3;
    }

    &--reading {
      grid-row: 1/3;
    }

    &--listening {
      grid-column: 2/4;
    }
  }
}
